body{
    background:rgba(0, 0, 0, 0.5);
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#cabecera
{
    background: #37488b;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container h1
{
    font-size: 20px;
}

#post
{
    background: white;
    padding: 1em;
}